body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
.header{

}
.title{

}
.banner{

}
.shop{

}
.rack{

}
.rack_img{
  height: 200px;
  width: 200px;
}
.footer{

}